@import '../../styles/mixins.less';

.home-about-page {
  .header {
    position: relative;
    padding: 10px;
    background-color: #414751;

    color: #fff;
    .anticon {
      font-size: 20px;
      color: #fff;
      cursor: pointer;
    }
    h1 {
      position: absolute;
      margin: 8px 40px 0;
      padding: 0;
      left: 0;
      top: 0;
      right: 0;
      text-align: center;
      font-size: 16px;
    }
  }


  .page-content {
    padding: 20px;
    text-align: left;
    font-size: 14px;
    text-align: center;

    .title-wrapper {
      .logo {
        width: 60px;
      }
    }
    h3 {
      margin-top: 20px;
    }
    p {
      margin-top: 15px;
    }
    .powered-by {
      margin-top: 0px;
      .plus {
        display: inline-block;
        font-size: 24px;
        margin: 0 10px;
        transform: translateY(-8px);
        color: #999;
      }
      img {
        margin-top: 10px;
        height: 30px;
      }
      .rekit-logo {
        height: 28px;
        margin-left: 2px;
      }
    }
  }
}
