@import '../../styles/mixins.less';

.home-cmd-edit-page {
  .ant-form-item {
    margin-bottom: 10px;
    .anticon-question-circle-o {
      margin-left: 5px;
      color: #57c5f7;
    }
    &.buttons {
      button {
        min-width: 70px;
      }
      button + button {
        margin-left: 20px;
      }
    }

    label {
      color: #999;
      font-size: 14px;
    }
  }
}
