@import '../../styles/mixins.less';

.home-cmd-list-item {
  position: relative;
  padding: 12px 40px 12px 40px;
  border-bottom: 1px solid #333;
  font-size: 14px;
  &:hover {
    background-color: #191919;
    .anticon-edit {
      display: inline-block;
    }
  }
  .action-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;

    &:hover {
      &:before {
        color: #4CAF50;
      }
    }

    &.anticon-stop-circle {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #4CAF50;

      &:hover {
        background-color: darken(#4CAF50, 5%);
      }
      &:after {
        position: absolute;
        left: 6px;
        top: 6px;
        display: inline-block;
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 1px;
        background-color: #fff;
      }
    }
  }

  .anticon-edit {
    display: none;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 14px;
  }


  .url-link {
    display: inline-block;
    margin-right: 5px;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 2px;
    background-color: darken(#57c5f7, 20%);
    color: #fff;
    transform: translateY(-1px);

    &:hover {
      background-color: darken(#57c5f7, 10%)
    }

    .anticon {
      color: #fff!important;
    }
  }

  .cmd-name {
    cursor: default;
  }

  .display-name {
    display: block;
    max-width: 100%;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    text-overflow: ellipsis;
    .name {
      
      color: #ddd;
      &:hover {
        color: #57c5f7;
      }
    }
  }

  .sudo-icon {
    display: inline-block;
    padding: 0 3px;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 10px;
    background-color: #f90;
    color: #fff;
    transform: translateY(-1px);
  }

  .output {
    display: block;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #aaa;

    &.error {
      color: red;
    }
  }

  .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;

    .anticon {
      margin-left: 5px;
      cursor: pointer;
    }

    .anticon-delete {
      color: lighten(red, 20%);
      &:hover {
        color: lighten(red, 10%);
      }
    }

    .icon-move {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      cursor: move;

      &:before {
        content: ' ';
        overflow: hidden;
        display: block;
        margin: 3px 2px 0;
        height: 6px;
        border-top: 2px solid #aaa;
        border-bottom: 2px solid #aaa;
      }

      &:after {
        content: ' ';
        overflow: hidden;
        display: block;
        margin: 0 2px;
        height: 4px;
        border-bottom: 2px solid #aaa;
      }
    }

    .anticon-ellipsis {
      position: relative;
      display: inline-block;
      font-size: 20px;
      color: #57c5f7;
      cursor: default;
    }
  }

  // &:hover .buttons {
  //   .anticon-delete, .anticon-edit {
  //     display: inline-block;
  //   }
  // }

  &.stopped {
    .url-link, .sudo-icon {
      background-color: #444;
      color: #999;
    }
    .action-icon, .anticon-ellipsis {
      color: #777;
    }
  }

  // &.error {
  //   .anticon {
  //     color: #FF5252;
  //   }
  // }

  &.running {
    .action-icon {
      color: #4CAF50;
    }
  }

  &.selected {
    position: relative;
    background-color: #111;
    &:after {
      content: ' ';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: #1890ff;
    }
    .name {
      color: #57c5f7;
    }
  }

  
}

.cmd-pwd-modal {
  .ant-modal-header {
    border-bottom: none;
  }

  .ant-modal-title {
    transform: translateY(10px);
  }

  .ant-modal-footer {
    border-top: none;
    padding-bottom: 20px;
  }
}