@import '../../styles/mixins.less';

.home-console-output {
  position: relative;

  .output-wrapper {
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      transition: all 0.3s ease;
      border-color: transparent;
      background-color: hsla(0, 0%, 100%, 0.25);
      z-index: 40;
    }

    &::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .clear-icon, .anticon-arrow-up, .anticon-arrow-down {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.6;
    border: 0px solid #fff;
    width: 16px;
    height: 16px;
    z-index: 999;
    &:hover {
      opacity: 0.9;
    }
  }
  .anticon-arrow-down {
    right: 30px;
  }
  .anticon-arrow-up {
    right: 50px;
  }
}
