@import '../../styles/mixins.less';

.home-status-page {
  font-family: arial;
  // * {
  //   animation-duration: 0s !important;
  // }
  &.loading {
    padding: 20px;
    text-align: center;
  }
  .header {
    .anticon-info-circle-o, .anticon-swap, .anticon-setting {
      float: right;
      margin-left: 10px;
    }

    .anticon-swap {
      transform: rotate(-90deg);
    }

    .anticon-info-circle-o {
      transform: translateY(1px);
      font-size: 18px;
    }
  }

  ul.home-cmd-list {
    width: 100%;
  }

  ul.home-cmd-list li {
    
  }

  .home-welcome {
    
  }

  .ant-popover-arrow:after {
    border-left-color: #000!important;
  }
  .ant-popover {
    width: 80%;
  }
  .ant-popover-inner {
    background-color: rgba(0, 0, 0, 0.9);
    &-content {
      padding: 0;
    }
    .output-list {
      color: #28da36;
    }
  }
  .ant-popover-arrow {
    // display: none;
  }

  .footer {
    padding: 10px;
    color: #999;
    text-align: center;
  }
}
